<h1>Stupid Coach</h1>
  <h3><%= params[:question] %></h3> <!-- question -->
  <p class="user">-You</p>
  <h3><%= @answer %></h3> <!-- question -->
  <p class="user">-Your beloved coach</p>
  <br>
  <p><%= link_to "Ask a new question", "/ask"  %></p>
